$fonte-normal: "GandhiSansRegular";
$fonte-bold: "GandhiSansBold";
$cor-do-texto: #666666;
$vermelho-escuro: #190A05;
$vermelho-claro: #870000;
$vermelho-rodape: #6f0301;
$vermelho: #e42d2ae3;
$cinza-claro: #888888;
$tag-color: rgb(247, 51, 2);