@import-normalize;

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: #f5f5f5;
    box-sizing: border-box;
}

body::-webkit-scrollbar {
  width: 3px;
}
body::-webkit-scrollbar-track {
  background: linear-gradient(#190A05, #870000);
}
body::-webkit-scrollbar-thumb {
  background-color: #870000;
  border-radius: 20px;
}

@font-face {
  font-family: "GandhiSansRegular";
  src: local("GandhiSansRegular"),
    url("../assets/fontes/GandhiSans-Regular.otf") format("truetype");
  font-weight: 500;
  font-display: swap; 
}

@font-face {
  font-family: "GandhiSansBold";
  src: local("GandhiSansBolds"),
    url("../assets/fontes/GandhiSans-Bold.otf") format("truetype");
  font-weight: 700;
  font-display: swap; 
}
